<section class="actuation-add mat-elevation-z1">
  <h3>Nova Área de Atuação</h3>
  <form [formGroup]="actuationForm">
    <article class="row">
      <mat-form-field appearance="outline" class="region-input">
        <mat-label>Região</mat-label>
        <input type="text" matInput formControlName="regiao" />
        <!-- <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error> -->
      </mat-form-field>

      <mat-form-field appearance="outline" class="state-input">
        <mat-label>Estados</mat-label>
        <mat-select formControlName="estados" multiple>
          <mat-option *ngFor="let estado of estados" [value]="estado.value">{{
            estado.viewValue
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </article>

    <article class="btn-row">
      <button
        mat-flat-button
        color="primary"
        [disabled]="actuationForm.invalid"
        type="submit"
        (click)="saveActuation()"
      >
        Salvar
      </button>
      <button mat-stroked-button type="button" (click)="closeDialogHandler()">
        Cancelar
      </button>
    </article>
  </form>
</section>
