.actuation-add {
  font-size: clamp(16px, 5vw, 20px);
}

button {
  padding: 3px 18px;
}

@media (min-width: 600px) {
}

@media (max-width: 450px) {
  button {
    width: 100%;
    margin-bottom: 12px;
    margin-left: 0 !important;
  }
}
