<section class="actuation-add mat-elevation-z1">
  <h3>Nova Região de Atuação</h3>
  <form [formGroup]="actuationForm">
    <article class="row">
      <mat-form-field appearance="outline" class="region-input">
        <mat-label>Região</mat-label>
        <input type="text" matInput formControlName="regiao" />
        <mat-error *ngIf="actuationForm.hasError('required', 'regiao')">
          Campo obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="state-input">
        <mat-label>Estados</mat-label>
        <mat-select formControlName="estados" multiple>
          <mat-option *ngFor="let estado of estados" [value]="estado.value"
            >{{ estado.viewValue }} ({{ estado.value }})</mat-option
          >
        </mat-select>
        <mat-error *ngIf="actuationForm.hasError('required', 'estados')">
          Campo obrigatório, selecione ao menos 1 estado
        </mat-error>
      </mat-form-field>
    </article>

    <article class="btn-row">
      <button
        mat-flat-button
        color="primary"
        [disabled]="actuationForm.invalid"
        type="submit"
        (click)="saveActuation()"
      >
        Salvar
      </button>
      <button mat-stroked-button type="button" (click)="closeDialogHandler()">
        Cancelar
      </button>
    </article>
  </form>
</section>
