<article class="actuation-add">
  <form class="actuationForm">
    <mat-form-field appearance="fill">
      <mat-label>Região</mat-label>
      <input type="text" matInput formControlName="regiao" />
      <!-- <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error> -->
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Estados</mat-label>
      <mat-select formControlName="estados" multiple>
        <mat-option *ngFor="let estado of estados" [value]="estado.value">{{
          estado.viewValue
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</article>
