.basePage {
  table {
    margin-top: 24px;
  }
  mat-divider {
    margin-top: 32px;
    animation: slideDownFadeIn 700ms ease both;
    animation-delay: 500ms;
  }
  .btn-row {
    display: flex;
    justify-content: center;
    padding: 32px;
    margin-top: 16px;
    animation: slideDownFadeIn 800ms ease both;
  }

  .emptyState {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    opacity: 0.5;
    margin-top: 24px;
    h3 {
      margin: 0;
      span {
        transform: translateY(6px);
        margin-right: 5px;
        color: #777;
      }
    }
  }
}

@keyframes slideDownFadeIn {
  0% {
    transform: translateY(-4px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
