@import url("./assets/css/normalize.css");
@import "./assets/css/theme.scss";

// GENERAL -----------------
html,
body {
  height: 100%;
  background-color: #f8f8f8;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

// LAYOUT -----------------

::-webkit-scrollbar {
  width: 5px;
  transition: 200ms ease all !important;
  cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00000023;
  border-radius: 3px;
  transition: 200ms ease all !important;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00000043;
}

::-webkit-scrollbar-thumb:active {
  background: #e63888;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: clamp(0.5rem, 3vw, 1rem) clamp(1rem, 5vw, 2rem);
}

.cols-2 {
  grid-template-columns: repeat(2, 1fr);
}
.page-wrapper {
  position: absolute;
  width: calc(100vw - 80px - clamp(30px, 10vw, 600px));
  min-height: calc(100vh - 90px - clamp(30px, 10vw, 600px));

  .basePage {
    height: 100%;
    padding: clamp(16px, 3vw, 28px) clamp(12px, 3vw, 32px);
    padding-bottom: 120px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 5px -3px rgba(0, 0, 0, 0.33),
      0 0px 15px rgba(0, 0, 0, 0.05);
    .btn-row {
      padding-bottom: 42px;
      display: flex;
      justify-content: flex-end;
      &__add-btn {
        padding: 7px 32px;
        border-radius: 25px;
        font-weight: 500;
        letter-spacing: 0.5px;
      }
    }

    table {
      width: 100%;

      .mat-chip-list-wrapper {
        gap: 8px;
        margin: 0 !important;
      }
    }
  }

  .pageTitle {
    padding-left: 5px;
    color: #636363;
    animation: titleFadeIn 0.5s ease both;
    animation-delay: 400ms;
    font-size: clamp(20px, 6vw, 28px) !important;
    font-weight: 400;
    margin: 0;
    margin-bottom: 32px;
    .material-icons-outlined {
      font-size: clamp(22px, 5vw, 24px) !important;
      animation: titleIconFadeIn 0.23s ease both;
      animation-delay: 600ms;
      margin-right: 4px;
      transform: translate(0, 2px);
      color: #aaa;
    }
  }
}
// ANIMATIONS -----------------
// @keyframes pageFadeIn {
//   0% {
//     transform: scale(0.985);
//     opacity: 0;
//   }
//   100% {
//     transform: scale(1);
//     opacity: 1;
//   }
// }

@keyframes titleFadeIn {
  0% {
    transform: translateX(-15px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes titleIconFadeIn {
  0% {
    transform: scale(1.7) translate(0, 0);
    opacity: 0;
  }
  100% {
    transform: scale(1) translate(0, 4px);
    opacity: 1;
  }
}
